[req]
distinguished_name = req_distinguished_name
x509_extensions = v3_req
prompt = no

[req_distinguished_name]
C = DK
L = Copenhagen
O = kmcd
CN = kmcd.local

[v3_req]
subjectAltName = @alt_names
basicConstraints = CA:FALSE
keyUsage = nonRepudiation, digitalSignature, keyEncipherment
extendedKeyUsage = serverAuth

[alt_names]
DNS.1 = kmcd.local
DNS.2 = localhost
IP.1 = 127.0.0.1
IP.2 = ::1
