{{- with .status }}
	{{ if isset . "content" }}
		<div class="toot" cite="{{ .link }}">
			{{ if (not .reblog) }}
			<div class="button small mastodon previous">
				<a href="{{ .url }}" target="_blank">
					<span class="button__icon"><i class="fa-brands fa-mastodon"></i></span>
					<span class="button__text">Reply</span>
				</a>
			</div>
			{{ end }}
			<div class="toot-header">
				<a class="toot-profile" href="{{ .account.url }}" rel="noopener">
					<span class="toot-author">
						<img
							src="{{ .account.avatar }}"
							alt="Mastodon avatar for @{{ .account.username }}"
							loading="lazy"
						/>
						<a class="toot-author-name" href="{{ .account.url }}" rel="noopener">{{ .account.display_name }}</a>
						<a class="toot-author-handle" href="{{ .account.url }}" rel="noopener">@{{ .account.username }}@infosec.exchange</a>
					</span>
				</a>
			</div>

			{{ .content | safeHTML }}
			<div class="toot-footer">
				<a href="{{.url}}" class="toot-date" rel="noopener">{{ dateFormat "3:04 PM • January 2, 2006" .created_at }}&nbsp;<span class="pokey">(UTC)</span></a>
				<span style="float:right">
					<a href="{{.url}}" rel="noopener">{{ .replies_count }} {{ if (eq .replies_count 1.0) }}reply{{ else }}replies{{ end }}</a>
				</span>
			</div>
			{{ range $.replies }}
				<hr />
				{{ partial "mastodon/comment.html" . }}
			{{ end }}
		</div>
	{{ end }}
{{- end -}}
