{{- $depth := (or .depth 1) -}}
{{- with .status }}
	{{- if isset . "content" }}
		<div class="toot" cite="{{ .link }}">
			{{ if (not .reblog) }}
			<div class="button small mastodon previous">
				<a href="{{ .url }}" target="_blank">
					<span class="button__icon"><i class="fa-brands fa-mastodon"></i></span>
					<span class="button__text">Reply</span>
				</a>
			</div>
			{{ end }}
			<div class="toot-header">
				<a class="toot-profile" href="{{ .account.url }}" rel="noopener">
					<span class="toot-author">
						<img
							src="{{ .account.avatar }}"
							alt="Mastodon avatar for @{{ .account.username }}"
							loading="lazy"
						/>
						<a class="toot-author-name" href="{{ .account.url }}" rel="noopener">{{ .account.display_name }}</a>
						{{ $accountURL := urls.Parse .account.url }}
						<a class="toot-author-handle" href="{{ .account.url }}" rel="noopener">{{ printf "@%s@%s" .account.username $accountURL.Host }}</a>
					</span>
				</a>
			</div>

			{{ .content | safeHTML }}
			<div class="toot-footer">
				<a href="{{.url}}" class="toot-date" rel="noopener">{{ dateFormat "3:04 PM • January 2, 2006" .created_at }}</a>
				{{- if (and (gt $depth 3) (gt .replies_count 0)) -}}
					<span style="float:right">
						<a href="{{.url}}" rel="noopener">{{ .replies_count }} more {{ if (eq .replies_count 1.0) }}reply{{ else }}replies{{ end }}</a>
					</span>
				{{ end }}
			</div>
			{{- if le $depth 3 -}}
				{{ range $.replies }}
					<hr />
					{{ partial "mastodon/comment.html" (collections.Merge . (dict "depth" (math.Add $depth 1))) }}
				{{ end }}
			{{ end }}
		</div>
	{{ end }}
{{- end -}}
