{{- $renderHookName := "d2" }}

{{- $inner := trim .Inner "\n\r" }}
{{- $position := .Position }}

{{- $apiEndpoint := "http://localhost:7001/render" }}

{{- $opts := dict "method" "post" "body" $inner }}
{{- with try (resources.GetRemote $apiEndpoint $opts) }}
  {{- with .Err }}
    {{- errorf "The %q code block render hook was unable to get the remote diagram. See %s. %s" $renderHookName $position . }}
  {{- else with .Value }}
      <div style="min-width: 400px; width: 100%">
    {{- .Content | safeHTML -}}
      </div>
  {{- end }}
{{- else }}
  {{- errorf "The %q code block render hook was unable to get the remote diagram. See %s" $renderHookName $position }}
{{- end }}

