.footer {
  padding: 20px 20px;
  flex-grow: 0;
  z-index: 4;
  [data-theme=dark] & {
    color: $dark-color
  }

  [data-theme=light] & {
    color: $light-color
  }

  &__inner {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    width: 1000px;
    max-width: 100%;
    z-index: 4;

    @media #{$media-size-tablet} {
      flex-direction: column;
    }

    .icons {
      list-style: none;
      padding: 0;
      margin: 0 0 10px 0;
      display: flex;
      flex-wrap: wrap;
      gap: 15px;
      justify-content: center;
      width: 100%;
      
      li {
        margin: 0;
        width: 30px;
        display: flex;
        justify-content: center;
      }
      
      a {
        font-size: 1.2rem;
        display: inline-flex;
        align-items: center;
        justify-content: center;
        width: 30px;
        height: 30px;
        border: none !important;
        border-radius: 0 !important;
        box-shadow: none !important;
        background: transparent !important;
        
        &:hover, &:active {
          background: transparent !important;
          opacity: 0.7;
        }
      }
    }
  }

  &__content {
    display: flex;
    flex-direction: row;
    align-items: center;
    font-size: 1rem;

    @media #{$media-size-tablet} {
      flex-direction: column;
      margin-top: 10px;
    }

    & > *:not(:last-child)::after {
      content: "•";
      padding: 0 5px;

      @media #{$media-size-tablet} {
          content: "";
          padding: 0;
      }
    }

    & > *:last-child {
      padding: 0 0px;

      @media #{$media-size-tablet} {
          padding: 0;
      }
    }
  }
}
