.post-content {
  table {
    display: block;
    overflow-x: auto;
    border-collapse: collapse;
    margin: 25px auto;
    font-size: 0.9em;
    max-width: 100%;

    th,
    td {
      padding: 12px 15px;
      // Default
      border: 1px solid $light-table-color;
      
      @media (prefers-color-scheme: dark) {
        border: 1px solid $dark-table-color;
      }
    
      @media (prefers-color-scheme: light) {
        border: 1px solid $light-table-color;
      }
    
      [data-theme=dark] & {
        border: 1px solid $dark-table-color;
      }
    
      [data-theme=light] & {
        border: 1px solid $light-table-color;
      }
    }

    thead {
      tr {
        text-align: left;
        // Default
        background-color: $light-table-color;
        color: $light-color;

        @media (prefers-color-scheme: dark) {
          background-color: $dark-table-color;
          color: $dark-color;
        }
      
        @media (prefers-color-scheme: light) {
          background-color: $light-table-color;
          color: $light-color;
        }
      
        [data-theme=dark] & {
          background-color: $dark-table-color;
          color: $dark-color;
        }
      
        [data-theme=light] & {
          background-color: $light-table-color;
          color: $light-color;
        }
      }
    }

    tbody {
      tr {
        // Default
        border: 1px solid $light-table-color;
        
        @media (prefers-color-scheme: dark) {
          border: 1px solid $dark-table-color;
        }
      
        @media (prefers-color-scheme: light) {
          border: 1px solid $light-table-color;
        }
      
        [data-theme=dark] & {
          border: 1px solid $dark-table-color;
        }
      
        [data-theme=light] & {
          border: 1px solid $light-table-color;
        }
      }
    }
  }
}

th {
  white-space: nowrap;
}

details table {
  margin: 1rem 0 0.5rem 0;
  width: 100%;
  border-collapse: collapse;
  font-size: 0.85em;
  border-radius: 6px;
  overflow: hidden;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.05);
  
  [data-theme=dark] & {
    background-color: #1f2a35;
    border: 1px solid #3b5065;
  }
  
  [data-theme=light] & {
    background-color: #ffffff;
    border: 1px solid #dcdcdc;
  }

  th, td {
    padding: 10px 14px;
    
    [data-theme=dark] & {
      border: 1px solid rgba(255, 255, 255, 0.06);
    }
    
    [data-theme=light] & {
      border: 1px solid rgba(0, 0, 0, 0.05);
    }
  }

  thead tr {
    [data-theme=dark] & {
      background-color: #232f3c !important;
      color: #00ffff !important;
    }
    
    [data-theme=light] & {
      background-color: #f1f3f5 !important;
      color: #007bff !important;
    }
  }
}
