@charset "UTF-8";

/* Light theme color */
$light-background: #fafafa;
$light-sidebar-background: #e0e0e0;
$light-background-secondary: #e0e0e0;
$light-background-header: #e0e0e0;
$light-color: #222;
$light-color-variant: black;
$light-color-secondary: #999;
$light-border-color: #dcdcdc;
$light-table-color: #dcdcdc;

/* Dark theme colors */
$dark-background: #161e26;
$dark-sidebar-background: #0d1217;
$dark-background-secondary: #3b5065;
$dark-background-header: #0d1217;
$dark-color: white;
$dark-color-variant: white;
$dark-color-secondary: #a2a2dd;
$dark-border-color: #cccccc;
$dark-table-color: #3e3e53;

$media-size-phone: "(max-width: 684px)";
$media-size-tablet: "(max-width: 900px)";
$media-size-laptop: "(max-width: 1200px)";

/* Variables for js, must be the same as these in @custom-media queries */
:root {
  --phoneWidth: (max-width: 684px);
  --tabletWidth: (max-width: 900px);
}

/* Content */
$max-width: 860px;

/* Primary color */
$primary-color: #007a78;
$light-accent-color: #007a78;
$dark-accent-color: #2dd4bf;