html {
    letter-spacing: 0.01em;
}

main {
    padding-left: 10px;
    padding-right: 10px;
}

h2 {
    margin-top: 2em;
}

h2 > :first-child { margin-top: 0 !important; }

h3 {
    margin-top: 2em;
}

h3 > :first-child { margin-top: 0 !important; }

h4 > :first-child { margin-top: 0 !important; }

h5 > :first-child { margin-top: 0 !important; }

.content {
    align-items: stretch;
    padding-left: 10px;
    padding-right: 10px;
}

.post-info {
    margin-top: 10px;
    opacity: unset;
    font-size: 14px;
}

.post-info-2 {
    text-align:right;
    position: relative;
    margin-top: 0;
    margin-bottom: 10px;
    opacity: unset;
    font-size: 14px;
}

.post-info-2 span {
    margin-left: 10px;
}

.post-excerpt {
    [data-theme=dark] & {
        color: #ccc;
    }
}

.posts {
    padding: 20px;
    margin: 0 auto 20px;
}

.index-posts {
    margin: 0 auto 20px;
}

.bg:before {
    background-image: unset;
}

.posts-header {
    border-radius: 10px 10px 0 0;
    [data-theme=light] & {
        background: #fafafa;
    }
    [data-theme=dark] & {
        background: #283745;
    }
}

.posts-header.h3 {
    margin-bottom: 0;
    padding: 5px;
    padding-left: 15px;
}

.post.on-list {
    background: #fff;
    cursor: pointer;
    margin: 0;

    [data-theme=light] & {
        border-bottom: 1px black dashed;
    }
}

.posts-footer {
    text-align: right;
    padding: 10px;
    border-radius: 0 0 10px 10px;
    [data-theme=light] & {
        background: #fafafa;
    }
    [data-theme=dark] & {
        background: #1f2a35;
    }
}

.main-heading {
    padding-top: 4px;
    max-width: 800px;
    margin: auto;
}

#reading-progress-fill {
    -webkit-transition: width 100ms ease;
    -o-transition: width 100ms ease;
    transition: width 100ms ease;
    [data-theme=light] & {
        background-color: #333;
    }
    [data-theme=dark] & {
        background-color: #eee;
    }
}

.post-item {
    padding: 10px, 0;
}

.post-item:hover {
    [data-theme=dark] & {
        background: rgb(40, 55, 69);
    }
}

.post.on-list {
    [data-theme=dark] & {
        background: #1f2a35;
        border-bottom: 1px white dashed;
    }
}

.post.on-list.h3 {
    font-size: 16px;
    width: 100%;

    margin-top: 0;
    margin-bottom: 0;
}

.post.on-list small {
    margin-left: auto;
    font-weight: lighter;
}

.post.on-list:hover {
    [data-theme=dark] & {
        background: rgb(40, 55, 69);
    }
}

.bg:before {
    [data-theme=dark] & {
        background-image: linear-gradient(to top, rgba(0,0,0,0), rgba(0,0,0,0.5));
    }
}

.post-row {
    display: flex;
}

.page-title {
    width: 100%;
    margin-bottom: 0;
    font-size: 30px;
}

.post-title {
    width: 100%;
    margin-top: 0;
    margin-bottom: 0;
    font-size: 30px;
}

.post-title small {
    margin-left: auto;
    font-weight: lighter;
}

.post-tags {
    margin: 0;
    vertical-align: bottom;
}

.post-meta {
    display: inline-block;
}

.post-cover {
    margin-left: auto;
    margin-right: auto;
}

.bg {
    background-attachment: fixed;
    background-size: auto auto;
}

#reading-progress {
    position: fixed;
    width: 100%;
    height: 5px;
    z-index: 9999;
    top: 0;
    left: 0;
}

#reading-progress-fill {
    height: 5px;
    width: 0;
}


pre {
    [data-theme=light] & {
        background-color: #333;
    }
}

h2 {
    margin-top: 1em;
}

.toot-box {
    padding: 20px;
    padding-left: 0px;
    border-radius: 10px;
    margin: 10px 0 10px 0;
    [data-theme=light] & {
        background: #fafafa;
    }
    [data-theme=dark] & {
        background: #1f2a35;
    }
}

.toot {
    // padding: 20px;
    margin-left: 20px;
    border-radius: 10px;
    [data-theme=light] & {
        background: #fafafa;
    }
    [data-theme=dark] & {
        background: #1f2a35;
    }
}

.toot hr {
    margin: 20px 0;
}

.toot-header img {
    max-height: 48px;
    max-width: 48px;
    float: left;
    margin-right: 10px;
    border-radius: 10px;
}

.toot-date {
    display: inline-block;
    font-size: 10px;
}

.toot-author-name {
    display: block;
    text-decoration: none;
}

.toot-author-handle {
    font-size: 12px;
    text-decoration: none;
}

.toot-img-grid {
    display: grid;
    grid-template-rows: auto;
    grid-template-columns: 25% 25%;
    justify-content: space-evenly;
    width: 100%;
}

.toot-media-img {
    padding: 5px;
}

.toot-footer a {
    font-size: 14px;
}

ul.icons {
    margin: 0;
    padding: 0;
}

.links-wrapper {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    grid-gap: 10px;
    width: 100%;
}

.links-box {
    border-radius: 10px;
    padding: 20px;
    [data-theme=light] & {
        background: #fafafa;
    }
    [data-theme=dark] & {
        background: #1f2a35;
    }
}

.links-box h2 {
    margin-top: 0;
}

.projects-wrapper {
    display: grid;
    margin-bottom: 15px;
    grid-gap: 10px;
    width: 100%;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
}

.projects-box {
    border-radius: 10px;
    padding: 20px;
    [data-theme=light] & {
        background: #fafafa;
    }
    [data-theme=dark] & {
        background: #1f2a35;
    }
}

.projects-box.h2, .projects-box.h2 {
    margin-top: 0;
}

.project-icons {
    font-size: 32px;
}

.shop-wrapper {
    display: grid;
    grid-gap: 10px;
    width: 100%;
}

.shop-box {
    border-radius: 10px;
    padding: 20px;
    [data-theme=light] & {
        background: #fafafa;
    }
    [data-theme=dark] & {
        background: #1f2a35;
    }
}

.shop-box h2 {
    margin-top: 0;
}

.main-wrapper {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-gap: 10px;
    width: 100%;
    text-align: left;
}

.main-box {
    border-radius: 10px;
    padding: 10px 20px 20px 20px;
    margin: 0 0 10px 0;
    [data-theme=light] & {
        background: #fafafa;
    }
    [data-theme=dark] & {
        background: #1f2a35;
    }
}

.main-box h1 {
    margin-top: 0;
    font-size: 1.7rem;
}

.main-box h2 {
    margin-top: 1em;
}

.main-box-light {
    [data-theme=dark] & {
        background: #283745;
    }
}

.links-box h2 {
    margin-top: 0;
}

.container pre {
    text-align: left;
}

#search {
    padding: 15px;
    [data-theme=dark] & {
        background-color: white;
    }
}

.mermaid {
    display: flex;
    justify-content: center;
}

figure {
    margin: auto;
}

figure img {
    width: 100%;
    object-fit: cover;
}



.emphasized-text {
    padding: 2px 10px;
    font-weight: bolder;

    [data-theme=dark] & {
        background: rgb(40, 55, 69);
    }
}