.content {
    align-items: stretch;
}

.bg:before {
    background-image: unset;
}

.post.on-list {
    background: #fff;
    cursor: pointer;
    margin: 0;

    [data-theme=light] & {
        border-bottom: 1px black dashed;
    }
}

.main-heading {
    padding-top: 4px;
    max-width: 800px;
    margin: auto;

    [data-theme=light] & {
        background-color: #fff;
    }
}

#reading-progress-fill {
    -webkit-transition: width 100ms ease;
    -o-transition: width 100ms ease;
    transition: width 100ms ease;
    [data-theme=light] & {
        background-color: #333;
    }
    [data-theme=dark] & {
        background-color: #eee;
    }
}

.post-item:hover {
    [data-theme=dark] & {
        background-color: rgb(31, 42, 53);
    }
}

.post.on-list:hover {
    [data-theme=dark] & {
        background: rgb(40, 55, 69);
    }
}

.bg:before {
    [data-theme=dark] & {
        background-image: linear-gradient(to top, rgba(0,0,0,0), rgba(0,0,0,0.5));
    }
}

.post.on-list {
    [data-theme=dark] & {
        background: #1f2a35;
        border-bottom: 1px white dashed;
    }
}

.post-row {
    display: flex;
}

.post-title {
    width: 100%;
}

.post-tags {
    margin: 0;
    vertical-align: bottom;
}

.post-title small {
    margin-left: auto;
    font-weight: lighter;
}

.post-meta {
    display: inline-block;
}

.post-cover {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.bg {
    background-attachment: fixed;
    background-size: auto auto;
}

#reading-progress {
    position: fixed;
    width: 100%;
    height: 5px;
    z-index: 9999;
    top: 0;
    left: 0;
}

#reading-progress-fill {
    height: 5px;
    width: 0;
}


pre {
    [data-theme=light] & {
        background-color: #333;
    }
}

h2 {
    margin-top: 1em;
}

.toot {
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 12px;
    border-radius: 10px;
    [data-theme=light] & {
        background: #fafafa;
    }
    [data-theme=dark] & {
        background: #1f2a35;
    }
}

.toot-header img {
    max-height: 48px;
    max-width: 48px;
    float: left;
    margin-right: 10px;
    border-radius: 10px;
}

.toot-date {
    display: inline-block;
    font-weight: lighter;
}

.toot-author-name {
    display: block;
}

.toot-author-handle {
    font-size: 12px;
}

.toot-footer {
    font-size: 12px;
}

ul.icons {
    margin: 0;
    padding: 0;
}

.links-wrapper {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-gap: 10px;
    width: 100%;
}

.links-box {
    border-radius: 5px;
    padding: 20px;
}