<!DOCTYPE html>
<html lang="{{ .Site.Language }}">
    <head>
        {{ partial "head.html" . }}
    </head>

    {{ block "body" . }}
        {{ $bgImage := "" }}
        {{ if .Site.Params.backgroundImage }}
            {{ $img := resources.Get .Site.Params.backgroundImage }}
            {{ if $img }}
                {{ $bgImage = $img.Permalink }}
            {{ end }}
        {{ end }}
        <body class="page-{{ .Type }}"{{ if $bgImage }} style="--bg-image: url('{{ $bgImage }}');"{{ end }}>
    {{ end }}
    
        <div class="sidebar">
            <div class="sidebar-sticky" style="position: relative;">


                {{ partial "header.html" . }}

                {{ block "footer" . }}
                    {{ partial "footer.html" . }}
                {{ end }}
            </div>
        </div>
        <div class="content container">
            {{ block "main" . }}{{ end }}
        </div>

        {{ partial "javascript.html" . }}
    </body>
</html>
