<!DOCTYPE html>
<html lang="{{ .Site.Language }}">
    <head>
        {{ partial "head.html" . }}
    </head>

    {{ block "body" . }}
        <body class="page-{{ .Type }}">
    {{ end }}
    
        <div class="sidebar">
            <div class="sidebar-sticky" style="position: relative;">


                {{ partial "header.html" . }}

                {{ block "footer" . }}
                    {{ partial "footer.html" . }}
                {{ end }}
            </div>
        </div>
        <div class="content container">
            {{ block "main" . }}{{ end }}
        </div>

        {{ partial "javascript.html" . }}
    </body>
</html>
