{{ define "main" }}

<main class="post">
    {{if not .Params.hideTitle }}
        <h1 class="post-title">{{ with .Params.TitleIcon}}<i class="fa-solid {{ . }}"></i> {{end}}<a href="{{ .Permalink }}">{{ .Title | markdownify }}</a></h1>
        {{ with .Params.Subtitle }}<div class="post-excerpt">{{ . }}</div>{{ end }}
    {{ end }}

    <noscript>
        This page only works when javascript is enabled
    </noscript>
    <div class="main-wrapper">
        <div class="main-box">
            {{ $cover := (.Resources.Get .Params.Cover)}}
            {{- if $cover -}}
                {{- if ne .MediaType.SubType "svg" -}}
                    {{ $cover = $cover.Fill "1520x600 Center webp q100" }}
                {{- end -}}
                <figure>
                    <img src="{{ $cover.RelPermalink }}" alt="{{ $cover.Title }}" />
                    {{ with .Params.CoverCaption }}
                        <figcaption class="center">{{ . | markdownify }}</figcaption>
                    {{ end }}
                </figure>
            {{ end }}

            <article>
                <div class="post-content">
                <div id="http10-header" hidden>
                    <h2>You have downloaded this page using&nbsp;<a href="#http10" class="emphasized-text">HTTP/1.0</a></h2>
                </div>

                <div id="http11-header" hidden>
                    <h2>You have downloaded this page with&nbsp;<a href="#http11" class="emphasized-text">HTTP/1.1</a></h2>
                </div>

                <div id="http2-header" hidden>
                    <h2>You have downloaded this page with&nbsp;<a href="#http2" class="emphasized-text">HTTP/2</a></h2>
                    <p>
                        Note that if you refresh this page there's a chance that you will connect with HTTP/3 instead. This is caused by the <a href="https://developer.mozilla.org/en-US/docs/Web/HTTP/Headers/Alt-Svc">Alt-Svc header</a> or the <a href="https://blog.cloudflare.com/speeding-up-https-and-http-3-negotiation-with-dns">HTTPS DNS Entry</a> being read by your browser after the first request to the page is already in progress or completed.
                    </p>
                </div>

                <div id="http3-header" hidden>
                    <h2>You have downloaded this page with&nbsp;<a href="#http3" class="emphasized-text">HTTP/3</a></h2>
                    <p>
                        Congratulations! You are using the latest HTTP version.
                    </p>
                </div>

                <div id="httpunknown-header" hidden>
                    <h2>You have downloaded this page with&nbsp;<span class="data-http-version emphasized-text">???</span></h2>
                    <p>
                        This is awkward. You appear to be using a version of HTTP that this page doesn't know about! It could be that the HTTP version detection is broken, a new version was released and I just haven't updated this page yet, or you messed with the query parameter that I use to test this page. Regardless, congrats for finding this!
                    </p>
                </div>
                </div>
            </article>
        </div>
    </div>

    <div class="main-wrapper">
        <div class="main-box">
            <h3 id="http11">More Info</h3>
            <div id="clientDataWrapper" hidden>
                <p>By the way, here is more information that is revealed about you from the request your browser made:</p>

                <table>
                    <tr>
                        <th>HTTP Version</th>
                        <td><span id="data-http-version" class="emphasized-text"></span></td>
                    </tr>
                    <tr>
                        <th>IP Address</th>
                        <td><span id="data-ip"></span></td>
                    </tr>
                    <tr>
                        <th>ASN <a href="https://en.wikipedia.org/wiki/Autonomous_system_(Internet)" target="_blank">(?)</a></th>
                        <td><span id="data-asn"></span></td>
                    </tr>
                    <tr>
                        <th>City</th>
                        <td><span id="data-city"></span></td>
                    </tr>
                    <tr>
                        <th>Postal Code</th>
                        <td><span id="data-postal-code"></span></td>
                    </tr>
                    <tr>
                        <th>Country</th>
                        <td><span id="data-country"></span></td>
                    </tr>
                    <tr>
                        <th>Continent</th>
                        <td><span id="data-continent"></span></td>
                    </tr>
                    <tr>
                        <th>Geo Coordinates</th>
                        <td><span id="data-geo"></span></td>
                    </tr>
                    <tr>
                        <th>Time Zone</th>
                        <td><span id="data-tz"></span></td>
                    </tr>
                    <tr>
                        <th>User Agent</th>
                        <td><span id="data-useragent"></span></td>
                    </tr>
                </table>
            </div>

            {{ .Content }}
        </div>
    </div>

    <div class="main-wrapper">
        <div class="main-box">
            <h3 id="http10">HTTP/1.0</h3>
            <p>
                HTTP/1.0 Introduced status codes, headers for content negotiation, and support for various media types.
            </p>
            <p>
                Each request/response required a new TCP connection, leading to overhead and performance issues.
            </p>
            <ul>
                <li><a href="https://http.dev/1.0" target="_blank">http.dev/1.0</a></li>
                <li><a href="https://www.rfc-editor.org/rfc/rfc1945" target="_blank">RFC 1945</a></li>
            </ul>
        </div>
    </div>

    <div class="main-wrapper">
        <div class="main-box">
            <h3 id="http11">HTTP/1.1</h3>
            <p>
                HTTP/1.1 introduced persistent connections (keeping a TCP connection open for multiple requests/responses), chunked transfer encoding, virtual hosting, and caching mechanisms.
            </p>
            <p>
                HTTP/1.1 has limited support for concurrency and requires opening multiple connections to perform requests in parallel. It is also still text-based so the overhead for requests is rather large. Headers also cannot be compressed.
            </p>
            <ul>
                <li><a href="https://http.dev/1.1" target="_blank">http.dev/1.1</a></li>
                <li><a href="https://www.rfc-editor.org/rfc/rfc2616" target="_blank">RFC 2616 (obsoleted)</a></li>
                <li><a href="https://www.rfc-editor.org/rfc/rfc7230" target="_blank">RFC 7230</a> - <a href="https://www.rfc-editor.org/rfc/rfc7235" target="_blank">RFC 7235</a></li>
            </ul>
        </div>
    </div>

    <div class="main-wrapper">
        <div class="main-box">
            <h3 id="http2">HTTP/2</h3>
            <p>
                HTTP/2 introduced binary framing, header compression (HPACK), multiplexing (multiple requests/responses concurrently over a single connection), and server push.
            </p>
            <p>
                HTTP/2 still relies on TCP, which can suffer from head-of-line blocking and performance issues on lossy networks.
            </p>
            <ul>
                <li><a href="https://http.dev/2" target="_blank">http.dev/2</a></li>
                <li><a href="https://www.rfc-editor.org/rfc/rfc7540" target="_blank">RFC 7540</a></li>
            </ul>
        </div>
    </div>

    <div class="main-wrapper">
        <div class="main-box">
            <h3 id="http3">HTTP/3</h3>
            <p>
                HTTP/3 uses QUIC as its transport protocol which is built on UDP, providing faster connection establishment, improved congestion control, and multiplexed streams that are independently reliable.
            </p>
            <p>
                HTTP/3 is relatively new, so adoption is still growing. However, <a href="https://caniuse.com/http3" target="_blank">all major browsers support HTTP/3</a> so for the web, adoption is mostly held up with server support.
            </p>
            <ul>
                <li><a href="https://http.dev/3" target="_blank">http.dev/3</a></li>
                <li><a href="https://www.rfc-editor.org/rfc/rfc9114" target="_blank">RFC 9114</a></li>
            </ul>
        </div>
    </div>
</main>

<script>
async function getHTTPVersion() {
    try {
        const resp = await fetch(document.location);
        if (!resp.ok) {
            throw new Error(`resp status: ${response.status}`);
        }
        // the server is configured to always return a header containing the http version used on the edge.
        // We will use that unless there's a query param set for debugging.
        return {
            httpVersion: resp.headers.get('x-kmcd-http-request-version'),
            asnum: resp.headers.get('x-kmcd-asnum'),
            city: resp.headers.get('x-kmcd-city'),
            continent: resp.headers.get('x-kmcd-continent'),
            country: resp.headers.get('x-kmcd-country'),
            ip: resp.headers.get('x-kmcd-ip'),
            lat: resp.headers.get('x-kmcd-lat'),
            lon: resp.headers.get('x-kmcd-lon'),
            postalCode: resp.headers.get('x-kmcd-postal-code'),
            region: resp.headers.get('x-kmcd-region'),
            regionCode: resp.headers.get('x-kmcd-region-code'),
            tzName: resp.headers.get('x-kmcd-tz-name'),
            useragent: resp.headers.get('x-kmcd-user-agent'),
        }
    } catch (error) {
        console.error(error.message);
    }
}

getHTTPVersion().then((props) => {
    let {
        httpVersion,
        asnum,
        city,
        continent,
        country,
        ip,
        lat,
        lon,
        postalCode,
        region,
        regionCode,
        tzName,
        useragent,
    } = props;
    if (!httpVersion) {
        httpVersion = "???"
    }
    const searchParams = new URLSearchParams(window.location.search);
    if (searchParams.has('version')) {
        httpVersion = searchParams.get('version');
    }

    switch (httpVersion) {
    case 'HTTP/1.0':
        document.getElementById("http10-header").removeAttribute("hidden");
        break;
    case 'HTTP/1.1':
        document.getElementById("http11-header").removeAttribute("hidden");
        break;
    case 'HTTP/2':
        document.getElementById("http2-header").removeAttribute("hidden");
        break;
    case 'HTTP/3':
        document.getElementById("http3-header").removeAttribute("hidden");
        break;
    default:
        document.getElementById("httpunknown-header").removeAttribute("hidden");
    }

    for (elem of document.getElementsByClassName("data-http-version")) {
        elem.innerHTML = httpVersion
    }

    console.log(props);
    props = Object.fromEntries(Object.entries(props).filter(([_, v]) => v != null));
    if (Object.keys(props).length > 0) {
        document.getElementById("clientDataWrapper").removeAttribute("hidden");
        document.getElementById("data-http-version").innerHTML = httpVersion;
        document.getElementById("data-asn").innerHTML = asnum;
        document.getElementById("data-city").innerHTML = city;
        document.getElementById("data-continent").innerHTML = continent;
        document.getElementById("data-country").innerHTML = country;
        document.getElementById("data-ip").innerHTML = ip;
        if (lat && lon) {
            document.getElementById("data-geo").innerHTML = `(${lat}, ${lon})`;
        }
        document.getElementById("data-postal-code").innerHTML = postalCode;
        document.getElementById("data-tz").innerHTML = tzName;
        document.getElementById("data-useragent").innerHTML = useragent;
    }
})

</script>

{{ end }}