{{ define "main" }}

<main class="post">
    {{if not .Params.hideTitle }}
        <h1 class="post-title">{{ with .Params.TitleIcon}}<i class="fa-solid {{ . }}"></i> {{end}}<a href="{{ .Permalink }}">{{ .Title | markdownify }}</a></h1>
        {{ with .Params.Subtitle }}<div class="post-excerpt">{{ . }}</div>{{ end }}
    {{ end }}

    <noscript>
        This page only works when javascript is enabled
    </noscript>
    <div class="main-wrapper">
        <div class="main-box">
            {{ $cover := (.Resources.Get .Params.Cover)}}
            {{- if $cover -}}
            {{ $cover = $cover.Fill "1520x600 Center webp q100" }}
            <figure>
                <img src="{{ $cover.RelPermalink }}" alt="{{ $cover.Title }}" />
                {{ with .Params.CoverCaption }}
                    <figcaption class="center">{{ . | markdownify }}</figcaption>
                {{ end }}
            </figure>
            {{ end }}

            <article>
                <div class="post-content">
                <div id="http10-header" hidden>
                    <h2>You have downloaded this page using&nbsp;<a href="#http10" class="emphasized-text">HTTP/1.0</a></h2>
                </div>

                <div id="http11-header" hidden>
                    <h2>You have downloaded this page with&nbsp;<a href="#http11" class="emphasized-text">HTTP/1.1</a></h2>
                </div>

                <div id="http2-header" hidden>
                    <h2>You have downloaded this page with&nbsp;<a href="#http2" class="emphasized-text">HTTP/2</a></h2>
                    <p>
                        Note that if you refresh this page there's a chance that you will connect with HTTP/3 instead. This is caused by the <a href="https://developer.mozilla.org/en-US/docs/Web/HTTP/Headers/Alt-Svc">Alt-Svc header</a> or the <a href="https://blog.cloudflare.com/speeding-up-https-and-http-3-negotiation-with-dns">HTTPS DNS Entry</a> being read by your browser after the first request to the page is already in progress or completed.
                    </p>
                </div>

                <div id="http3-header" hidden>
                    <h2>You have downloaded this page with&nbsp;<a href="#http3" class="emphasized-text">HTTP/3</a></h2>
                    <p>
                        Congratulations! You are using the latest HTTP version.
                    </p>
                </div>

                <div id="httpunknown-header" hidden>
                    <h2>You have downloaded this page with&nbsp;<span class="http-version emphasized-text">???</span></h2>
                    <p>
                        This is awkward. You appear to be using a version of HTTP that this page doesn't know about! It could be that the HTTP version detection is broken, a new version was released and I just haven't updated this page yet, or you messed with the query parameter that I use to test this page. Regardless, congrats for finding this!
                    </p>
                </div>

                {{ .Content }}
            </article>
        </div>
    </div>
</main>

<script>
async function getHTTPVersion() {
    try {
        const resp = await fetch(document.location);
        if (!resp.ok) {
            throw new Error(`resp status: ${response.status}`);
        }
        // the server is configured to always return a header containing the http version used on the edge.
        // We will use that unless there's a query param set for debugging.
        return resp.headers.get('x-kmcd-http-request-version')
    } catch (error) {
        console.error(error.message);
    }
}

getHTTPVersion().then((httpVersion) => {
    if (!httpVersion) {
        httpVersion = "???"
    }
    const searchParams = new URLSearchParams(window.location.search);
    if (searchParams.has('version')) {
        if (searchParams.get('version')) {
            for (elem of document.getElementsByClassName("http-version")) {
                elem.innerHTML = httpVersion
            }
        }
        httpVersion = searchParams.get('version');
    }

    console.log(httpVersion)

    switch (httpVersion) {
    case 'HTTP/1.0':
        document.getElementById("http10-header").removeAttribute("hidden");
        break;
    case 'HTTP/1.1':
        document.getElementById("http11-header").removeAttribute("hidden");
        break;
    case 'HTTP/2':
        document.getElementById("http2-header").removeAttribute("hidden");
        break;
    case 'HTTP/3':
        document.getElementById("http3-header").removeAttribute("hidden");
        break;
    default:
        document.getElementById("httpunknown-header").removeAttribute("hidden");
    }
})
</script>

{{ end }}