{{ define "main" }}
    {{ $paginator := .Paginate .Data.Pages 100 }}
    
    <main class="posts">
        <h1>{{ .Title | lower }}</h1>
        {{ with .Params.Subtitle }}<div class="post-excerpt">{{ . }}</div>{{ end }}

        {{ if .Content }}
            <div class="content">{{ .Content }}</div>
        {{ else }}
            <div class="post">
                Here are all of the articles that I've written that have the <code>{{ .Title | lower }}</code> tag. Enjoy.
            </div>
        {{ end }}

        <div id="theme-tagcloud" class="col-sm-12" style="margin-bottom: 15px;">
            <a href="/tags/" class="btn btn-default" role="button" style="text-transform: uppercase; font-size: 12px; padding-right: 5px; padding-left: 5px;" >All<span class="badge"></span></a>
            {{ $tags := $.Site.Taxonomies.tags.ByCount }}
            {{ $v1 := where $tags "Count" ">=" 2 }}
            {{ range $v1 }}
            {{ if .Term }}
            {{ $tagURL := printf "tags/%s/" .Term | relURL }}
            <a href="{{ $tagURL }}" class="btn btn-default" role="button" style="text-transform: uppercase; font-size: 12px; padding-right: 5px; padding-left: 5px;" >{{ .Term }} <span class="badge">({{ .Count }})</span></a>
            {{ end }}
            {{ end }}
        </div>

        {{ range $paginator.Pages.GroupByDate "2006" }}
            <div class="posts-group main-wrapper">
                <div class="main-box">
                    <h2>{{ .Key }}</h2>
                    <ul class="posts-list">
                        {{ range .Pages }}
                            <li class="post-item">
                                <a href="{{.Permalink}}">
                                    <span class="post-title">{{.Title}}</span>
                                    <span class="post-day">
                                        {{ if .Site.Params.dateformShort }}
                                            {{ .Date.Format .Site.Params.dateformShort }}
                                        {{ else }}
                                            {{ .Date.Format "Jan 2"}}
                                        {{ end }}
                                    </span>
                                </a>
                            </li>
                        {{ end }}
                    </ul>
                </div>
            </div>
        {{ end }}
    {{ partial "pagination-list.html" . }}
    </main>
{{ end }}
