{{ define "main" }}
  <main class="post">
    <div class="main-wrapper">
    <div class="post-header">
      <div class="cover-outer cover-{{ or .Params.CoverPosition "bottom" }}"
      {{- with (.Resources.Get .Params.Cover) -}}
        {{- $cover := . }}
        {{- $additionalStyles := "" }}
        {{- $minHeight := "300" }}
        {{- if eq .MediaType.SubType "svg" -}}
          {{- $additionalStyles = "background-repeat: no-repeat; background-size: contain;" -}}
        {{- else -}}
          {{- $cover = $cover.Fill "960x420 Center webp q100" -}}
          {{- $minHeight = $cover.Height -}}
          {{- $additionalStyles = "background-repeat: no-repeat; background-size: cover;" -}}
        {{- end -}}
        style="background-image: url('{{ $cover.RelPermalink }}'); min-height: {{ $minHeight }}px; background-position: center; {{ $additionalStyles | safeCSS }}"
      {{- end }}>
      <div class="cover-inner">
        <h1 class="post-title">
          <a href="{{ .Permalink }}">{{- with .Draft }}<strong>DRAFT: &nbsp;</strong>{{ end -}}{{ .Title | markdownify }}</a>
        </h1>
        {{ with .Params.Description }}
          <div class="post-excerpt">{{ . }}</div>
        {{ end }}

        <div class="post-info-2">
          <span><i class="fa-solid fa-user-circle"></i> <a href="/me/">{{ .Site.Author.name }}</a></span>
          <span><i class="fa-solid fa-clock"></i> {{ .Page.ReadingTime }} min</span>
          <span><i class="fa-solid fa-clipboard"></i> {{ .Page.WordCount | lang.FormatNumberCustom 0 }} words</span>
          <span>
            <i class="fa-solid fa-calendar-days"></i>
            {{ if .Site.Params.dateformNum }}
              {{ dateFormat .Site.Params.dateformNum .Date.Local }}
            {{ else }}
              {{ dateFormat "2006-01-02" .Date.Local }}
            {{ end }}
          </span>

          {{ if .Lastmod }}
          {{ if not (eq .Lastmod .Date )}}
            {{- if .GitInfo }}
            <span><a href="{{ .Site.Params.gitUrl -}}/commits/main/content/{{ .Page.File.Path }}" target="_blank" rel="noopener" aria-label="Latest git commit"><i class="fa-solid fa-code-commit"></i></a></span>
            {{- end }}
          {{ end }}
          {{ end }}
          {{ with .Page.Store.Get "toot" }}
            <span><a href="{{ .status.url }}" target="_blank" aria-label="Related Mastodon Post (for commenting)"><i class="fa-brands fa-mastodon"></i></a></span>
          {{ end }}
          <span><a href="{{ .Permalink }}" onclick="navigator.clipboard.writeText('{{ .Permalink }}');" aria-label="Copy permalink to this post"><i class="fa-solid fa-link"></i></a></span>
        </div>
      </div>
    </div>

    <div class="post-inner">
    <div class="post-info">
      {{ partial "categories.html" . }}
      {{ partial "tags.html" .Params.tags }}
    </div>

    <article>
      {{- if .Params.toc }}
        <hr />
        <aside id="toc">
          <div class="toc-title">Table of Contents</div>
          {{ .TableOfContents }}
        </aside>
        <hr />
      {{- end }}

      {{ if .Params.Audio }}
        <div class="post-audio">
          <audio controls>
            <source src="{{ .Params.Audio }}">
          </audio>
        </div>
      {{ end }}

      {{- with (.GetTerms "series") -}}
      {{- $series := slice -}}
      {{- range . -}}
        {{- $series = $series | append (printf "<a href=\"%s\">%s</a>" .Permalink .Name) -}}
      {{- end -}}
      <p>
        <i>This post is part of the {{ (delimit $series ", " " and ") | safeHTML }} series.</i>
      </p>
      {{- end -}}

      <div class="post-content">
        {{ .Content }}
      </div>
      </div>
      </div>
    </div>
    </article>

    {{- with (.GetTerms "series") -}}
    {{- range . -}}
    <div class="main-wrapper">
    <div class="main-box">
    <h3>Continue the series:&nbsp;<a href="{{ .Permalink }}">{{ .Name | safeHTML }}</a></h3>
    {{- $series := .Pages.ByDate -}}
    <ol>
      {{- range $series -}}
      <li>
        {{- if eq .File.UniqueID $.File.UniqueID -}}
          <b>{{ .Name }}</b>
        {{- else -}}
          <a href="{{ .Permalink }}">{{ .Name }}</a>
        {{- end -}}
      </li>
      {{- end -}}
    </ol>
    </div>
    </div>
  {{- end -}}
  {{- end -}}

    <div class="main-wrapper">
      <div class="main-box">
          <h3>See Also</h3>
          <ul>
          {{ range .Site.RegularPages.Related . | first 4 }}
          <li><a href="{{ .RelPermalink }}">{{ .LinkTitle }}</a></li>
          {{ end }}
          <li><a href="/random/">Go to a random page</a> <a href="/random/" aria-label="Go to a random page"><i class="fa-solid fa-dice"></i></a></li>
        </ul>
        <div class="post-info">
          {{ partial "pagination-single.html" . }}
        </div>
      </div>
    </div>
  </main>

  <div id="reading-progress"><div id="reading-progress-fill"></div></div>
  <script type="text/javascript">
  const readingProgress = document.querySelector('#reading-progress-fill');
  const footerHeight = 250;
  document.addEventListener('scroll', function(e) {
    let w = (document.body.scrollTop || document.documentElement.scrollTop) / (document.documentElement.scrollHeight - document.documentElement.clientHeight - footerHeight) * 100;
    readingProgress.style.setProperty('width', w + '%');
  });
</script>
{{ end }}
