{{ define "main" }}
  {{ $toot := slice }}
  {{- if .Params.mastodonID -}}
    {{- with .Site.GetPage (printf "/updates/imported/%s.html" .Params.mastodonID) }}
      {{- $toot = .Params -}}
    {{- end -}}
  {{- else -}}
    {{- with index (where (sort .Site.RegularPages ".Params.date" "asc") ".Content" "like" .Params.canonical_url) 0 -}}
      {{- $toot = .Params -}}
    {{- end -}}
  {{- end -}}
  <main class="post">
    <h1 class="post-title">
      <a href="{{ .Permalink }}">{{ .Title | markdownify }}</a>
    </h1>
    {{ with .Params.Description }}
      <div class="post-excerpt">{{ . }}</div>
    {{ end }}


    <div class="post-info">
      {{ partial "categories.html" . }}
      {{ partial "tags.html" .Params.tags }}
    </div>

    <div class="main-wrapper">
    <div class="main-box">
      <div class="post-info-2">
        <span><i class="fa-solid fa-clock"></i> {{ .Page.ReadingTime }} min</span>
        <span><i class="fa-solid fa-clipboard"></i> {{ .Page.WordCount | lang.NumFmt 0 }} words</span>
        <span>
          <i class="fa-solid fa-calendar-days"></i>
          {{ if .Site.Params.dateformNum }}
            {{ dateFormat .Site.Params.dateformNum .Date.Local }}
          {{ else }}
            {{ dateFormat "2006-01-02" .Date.Local }}
          {{ end }}

          {{ if .Lastmod }}
          {{ if not (eq .Lastmod .Date )}}
            {{- if .GitInfo }}
            <span><a href="{{ .Site.Params.gitUrl -}}{{ .GitInfo.Hash }}" target="_blank" rel="noopener" aria-label="Latest git commit"><i class="fa-solid fa-code-commit"></i></a></span>
            {{- end }}
          {{ end }}
          {{ end }}
        {{ with $toot }}
          <span><a href="{{ .Url }}" target="_blank" aria-label="Related Mastodon Post (for commenting)"><i class="fa-brands fa-mastodon"></i></a></span>
        {{ end }}
        <span><a href="{{ .Permalink }}" onclick="navigator.clipboard.writeText('{{ .Permalink }}');" aria-label="Copy permalink to this post"><i class="fa-solid fa-link"></i></a></span>
      </div>

      {{ $cover := (.Resources.Get .Params.Cover)}}
      {{- if $cover -}}
      {{ $cover = $cover.Fill "1520x600 Center webp q100" }}
      <figure>
          <img src="{{ $cover.RelPermalink }}" alt="{{ $cover.Title }}" />
          {{ with .Params.CoverCaption }}
              <figcaption class="center">{{ . | markdownify }}</figcaption>
          {{ end }}
      </figure>
    {{ else }}
      <hr />
    {{ end }}

    <article>
      {{- if .Params.toc }}
        <hr />
        <aside id="toc">
          <div class="toc-title">{{ i18n "tableOfContents" }}</div>
          {{ .TableOfContents }}
        </aside>
        <hr />
      {{- end }}

      {{ if .Params.Audio }}
        <div class="post-audio">
          <audio controls>
            <source src="{{ .Params.Audio }}">
          </audio>
        </div>
      {{ end }}

      {{- with (.GetTerms "series") -}}
      {{- $series := slice -}}
      {{- range . -}}
        {{- $series = $series | append (printf "<a href=\"%s\">%s</a>" .Permalink .Title) -}}
      {{- end -}}
      <p>
        <i>This post is part of the {{ (delimit $series ", " " and ") | safeHTML }} series.</i>
      </p>
      {{- end -}}

      <div class="post-content">
        {{ .Content }}
      </div>
      </div>
      </div>
    </article>

    {{- with (.GetTerms "series") -}}
    {{- range . -}}
    <div class="main-wrapper">
    <div class="main-box">
    <h3>{{ .Title }} Series</h3>
    {{- $series := .Pages.ByDate -}}
    <ol>
      {{- range $series -}}
      <li>
        {{- if eq .File.UniqueID $.File.UniqueID -}}
          <b>{{ .Title }}</b>
        {{- else -}}
          <a href="{{ .Permalink }}">{{ .Title }}</a>
        {{- end -}}
      </li>
      {{- end -}}
    </ol>
    </div>
    </div>
  {{- end -}}
  {{- end -}}

  {{- with $toot -}}
    {{ partial "toot.html" . }}
  {{- end -}}

    <div class="main-wrapper">
      <div class="main-box">
          <h3>See Also</h3>
          <ul>
          {{ range .Site.RegularPages.Related . | first 4 }}
          <li><a href="{{ .RelPermalink }}">{{ .LinkTitle }}</a></li>
          {{ end }}
          <li><a href="/random/">Go to a random page</a> <a href="/random/" aria-label="Go to a random page"><i class="fa-solid fa-dice"></i></a></li>
        </ul>
        <div class="post-info">
          {{ partial "pagination-single.html" . }}
        </div>
      </div>
    </div>
  </main>
  {{ if .Page.Store.Get "hasChartJS" }}
  <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
  <script> Chart.defaults.color = '#fff'; </script>
  {{ end }}
  {{ if .Page.Store.Get "hasMermaid" }}
    <script type="module" async>
        import mermaid from 'https://cdn.jsdelivr.net/npm/mermaid@10/dist/mermaid.esm.min.mjs';
        mermaid.initialize({
            startOnLoad: false,
            darkMode: false,
            theme: 'dark',
            themeVariables: {
              background: "transparent",
              pie1: "#003f5c",
              pie2: "#2f4b7c",
              pie3: "#665191",
              pie4: "#a05195",
              pie5: "#d45087",
              pie6: "#f95d6a",
              pie7: "#ff7c43",
              pie8: "#ffa600",
            }
        });
        mermaid.run()
    </script>
  {{ end }}

  <div id="reading-progress"><div id="reading-progress-fill"></div></div>
  <script type="text/javascript">
  const readingProgress = document.querySelector('#reading-progress-fill');
  const footerHeight = 250;
  document.addEventListener('scroll', function(e) {
    let w = (document.body.scrollTop || document.documentElement.scrollTop) / (document.documentElement.scrollHeight - document.documentElement.clientHeight - footerHeight) * 100;
    readingProgress.style.setProperty('width', w + '%');
  });
</script>
{{ end }}
