{{- if .Site.Params.EnableThemeToggle }}
<span class="theme-toggle not-selectable desktop-only-theme-toggle">{{ partial "theme-toggle-icon.html" . }}</span>
{{- end}}
<header class="page-header">
    <span class="page-header__inner">
        <span class="mobile-hidden-on-desktop">
            {{ partial "logo.html" . }}
        </span>

        <div class="sidebar-about" style="text-align: center; width: 100%; margin: 1.5rem 0;">
          {{- $image := resources.Get "images/me.png" -}}
          {{- if $image -}}
          {{- $profile := $image.Fill "256x256 Center" -}}
          <a href="/">
            <img class="sidebar-profile-img" src="{{ $profile.RelPermalink }}" alt="A picture of {{ $.Site.Params.author.name }}" width="120" height="120">
          </a>
          {{- end -}}
          
          <div class="sidebar-desktop-only" style="margin-top: 1rem;">
             <div class="sidebar-logo">
                 {{ partial "logo.html" . }}
             </div>
          </div>
        </div>

        <span class="page-header__right">

            {{ if len .Site.Menus }}
                {{ partial "menu.html" . }}
                <span class="menu-trigger">
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
                        <path d="M0 0h24v24H0z" fill="none"/>
                        <path d="M3 18h18v-2H3v2zm0-5h18v-2H3v2zm0-7v2h18V6H3z"/>
                    </svg>
                </span>
            {{ end }}
            {{- if .Site.Params.EnableThemeToggle }}
                <span class="theme-toggle not-selectable mobile-only">{{ partial "theme-toggle-icon.html" . }}</span>
            {{- end}}
        </span>
    </span>
</header>
