<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="ie=edge">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<meta name="author" content="{{ if .Params.author }}{{ .Params.author }}{{ else }}{{ range .Site.Author }}{{ . }} {{ end }}{{ end }}">

{{ if .IsHome }}
    <meta name="description" content="{{ .Site.Params.Description }}" />
{{ else if .Params.Description }}
    <meta name="description" content="{{ .Params.Description | truncate 160 }}" />
{{ else if .Summary }}
    <meta name="description" content="{{ .Summary | plainify }}" />
{{ else }}
    <meta name="description" content="{{ .Title }} :: {{ with $.Site.Params.Description }} — {{ . }}{{ end }}" />
{{ end }}

<meta name="keywords" content="{{ .Site.Params.keywords }}{{ with .Params.tags }}{{ range . }}, {{ . }}{{ end }}{{ end }}{{ with .Params.keywords }}{{ range . }}, {{ . }}{{ end }}{{ end }}" />
<meta name="robots" content="index, archive" />
<meta name="theme-color" content="{{ .Site.Params.themeColor }}" />
<link rel="canonical" href="{{ .Permalink }}" />

{{ block "title" . }}
    <title>
        {{ if .IsHome }}
            {{ $.Site.Title }} {{ with $.Site.Params.Subtitle }} — {{ . }} {{ end }}
        {{ else }}
            {{ if eq .Type "tags" }}
                {{ if eq .Kind "taxonomy" }}{{ .Title }}{{ with .Params.Subtitle }} - {{ . }}{{ end }}{{ else }}Posts that match tag: {{ .Title | lower }}{{ end }}
            {{ else if eq .Type "categories" }}
                {{ if eq .Kind "taxonomy" }}{{ .Title }}{{ with .Params.Subtitle }} - {{ . }}{{ end }}{{ else }}Posts that match category: {{ .Title }}{{ end }}
            {{ else }}
                {{ .Title }}{{ with .Params.Subtitle }} - {{ . }}{{ end }}
                {{ if eq .Kind "section" }} :: {{ $.Site.Title }}{{end}}
            {{ end}}
        {{ end }}
    </title>
{{ end }}

<!-- Fonts -->
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Poetsen+One&display=swap" rel="stylesheet" async>
<link href="https://fonts.googleapis.com/css2?family=Poetsen+One&display=swap" rel="stylesheet" async>

<!-- CSS -->
<link href="https://cdnjs.cloudflare.com/ajax/libs/flag-icon-css/3.5.0/css/flag-icon.min.css" rel="stylesheet"
    type="text/css" async>


{{ $options := (dict "targetPath" "main.css" "outputStyle" "compressed" "enableSourceMap" true) }}
{{ with resources.Get "scss/main.scss" | css.Sass $options | resources.Fingerprint }}
    <link rel="stylesheet" type="text/css" href="{{ .RelPermalink }}" async>
{{ end }}

{{ with resources.Get "scss/style.scss" | css.Sass $options | resources.Fingerprint }}
    <link rel="stylesheet" type="text/css" href="{{ .RelPermalink }}" async>
{{ end }}

{{ range $val := $.Site.Params.customCSS }}
    {{ if gt (len $val) 0 }}
        {{ $cssFile := resources.Get $val | minify | resources.Fingerprint "md5" }}
        <link rel="stylesheet" type="text/css" href="{{ $cssFile.Permalink }}" async>
    {{ end }}
{{ end }}

{{ if .Site.Params.fontAwesome }}
    <script src="{{ .Site.Params.fontAwesome.kitURL }}" crossorigin="anonymous" async></script>
{{ end }}
<link href="/fontawesome-6.5.2/css/fontawesome.min.css" rel="stylesheet" />
<link href="/fontawesome-6.5.2/css/brands.min.css" rel="stylesheet" />
<link href="/fontawesome-6.5.2/css/solid.min.css" rel="stylesheet" />
<!-- Icons -->
{{- partial "favicons.html" . }}

{{ template "_internal/schema.html" . }}
{{ template "_internal/twitter_cards.html" . }}

{{ if isset .Site.Taxonomies "series" }}
    {{ partial "opengraph.html" . }}
{{ end }}

{{ range .Params.categories }}
    <meta property="article:section" content="{{ . }}" />
{{ end }}

{{ if isset .Params "date" }}
    <meta property="article:published_time" content="{{ time .Date }}" />
{{ end }}

<!-- RSS -->
{{ with .OutputFormats.Get "rss" -}}
    {{ printf `<link rel="%s" type="%s" href="%s" title="%s" />` .Rel .MediaType.Type .Permalink $.Site.Title | safeHTML }}
{{ else }}
    <link rel="alternate" type="application/rss+xml" href="/posts/index.xml" title="kmcd.dev">
{{ end -}}


<!-- JSON Feed -->
{{ if .OutputFormats.Get "json" }}
<link href="{{ if .OutputFormats.Get "json" }}{{ .Site.BaseURL }}feed.json{{ end }}" rel="alternate"
    type="application/json" title="{{ .Site.Title }}" />
{{ end }}

<!-- Custom head tags -->
{{- if templates.Exists "partials/extra-head.html" -}}
    {{ partial "extra-head.html" . }}
{{- end }}

<!-- spotlight.js for image gallary -->
<script src="https://rawcdn.githack.com/nextapps-de/spotlight/0.7.8/dist/spotlight.bundle.js" async></script>

<!-- mermaid -->
{{ if .Page.Store.Get "hasMermaid" }}
<script type="module" async>
    import mermaid from 'https://cdn.jsdelivr.net/npm/mermaid@10/dist/mermaid.esm.min.mjs';
    mermaid.initialize({
        startOnLoad: false,
        darkMode: false,
        theme: 'dark',
        themeVariables: {
          background: "transparent",
          mainBkg: "#1f2a35",
          pie1: "#003f5c",
          pie2: "#2f4b7c",
          pie3: "#665191",
          pie4: "#a05195",
          pie5: "#d45087",
          pie6: "#f95d6a",
          pie7: "#ff7c43",
          pie8: "#ffa600",
        }
    });
    mermaid.run()
</script>
{{ end }}

<script src="https://analytics.ahrefs.com/analytics.js" data-key="2eNO7jS4q3dKAsgvccIzbw" async></script>
