{{ define "body" }}
    {{ $bgImage := (resources.Get .Site.Params.backgroundImage).Fit "2000x2000 webp" | resources.Fingerprint }}
    {{ if .Site.Params.backgroundEffects }}
    <body class="{{ if .Site.Params.backgroundImage }} bg" style="background-image: url('{{ $bgImage.Permalink }}');" {{ else }}"{{ end }}>
    {{ else }}
    <body class="{{ if .Site.Params.backgroundImage }} background-image" style="background-image: url('{{ $bgImage.Permalink }}');" {{ else }}"{{ end }}>
    {{ end }}
{{ end }}

{{ define "main" }}
    <main role="main">
        <div class="main-heading">
            {{ with .Content }}
                {{ . }}
            {{ end }}
        </div>
        <!-- Start Posts -->
        {{ if .Site.Params.showPosts }}
            {{ $isntDefault := not (or (eq (trim $.Site.Params.contentTypeName " ") "posts") (eq (trim $.Site.Params.contentTypeName " ") "")) }}
            {{ $contentTypeName := cond $isntDefault (string $.Site.Params.contentTypeName) "posts" }}
            {{ $PageContext := . }}
            {{ if .IsHome }}
                {{ $PageContext = .Site }}
            {{ end }}
            <div class="main-heading">
            <div class="posts-header">
                <h3><i class="fa-solid fa-explosion"></i> &nbsp;Featured Posts</h3>
            </div>

            {{ range first 3 (where $PageContext.RegularPages ".Params.featured" true) }}
            <div class="post on-list" onclick="location.href='{{ .Permalink }}'">
                <div class="post-row">
                    <h3>
                        <a href="{{ .Permalink }}">{{ (or .Params.featuredTitle .Title) | markdownify }}</a>
                    </h3>
                    <div class="post-meta">
                    </div>
                </div>
                <div class="post-row">
                    <span class="post-tags">
                    {{ range .Params.tags }}
                        <a href="{{ (urlize (printf "tags/%s" . )) | absLangURL }}/">#{{ . }}</a>&nbsp;
                    {{ end }}
                    </span>
                </div>
            </div>
            {{ end }}
            <div class="posts-footer"></div>

            <div class="main-heading">
            <div class="posts-header">
                <h3><i class="fa-solid fa-file-lines"></i> &nbsp; Latest Posts</h3>
            </div>

            {{ range first 5 (where $PageContext.RegularPages "Type" $contentTypeName) }}
            <div class="post on-list" onclick="location.href='{{ .Permalink }}'">
                <div class="post-row">
                    <h3>
                        <a href="{{ .Permalink }}">{{ .Title | markdownify }}</a>
                        {{- if .Date -}}
                        <small>{{ .Date.Format ($.Site.Params.DateFormatList | default "2006-01-02") }}</small>
                        {{- end -}}
                    </h3>
                    <div class="post-meta">
                    </div>
                </div>
                <div class="post-row">
                    <span class="post-tags">
                    {{ range .Params.tags }}
                        <a href="{{ (urlize (printf "tags/%s" . )) | absLangURL }}/">#{{ . }}</a>&nbsp;
                    {{ end }}
                    </span>
                </div>
            </div>
            {{ end }}
            <div class="posts-footer">
                Didn't find what you want? Check out <a href="/posts/">the archive</a> for more.
            </div>
            </div>
        {{ end }}
        <!-- End Posts -->

        <!-- Social Icons -->
        {{ if .Site.Params.socialIcons }}
        <div class="content">
            <ul class="icons">
            {{- with .Site.Params.social }}
             {{ partial "social-icons.html" . }}
            {{- end }}
            </ul>
        </div>
        {{ end }}
        <!-- End Social Icons-->

    </main>
{{ end }}
