{{ define "body" }}
    {{ $bgImage := (resources.Get .Site.Params.backgroundImage).Fit "2000x2000 webp" | resources.Fingerprint }}
    {{ if .Site.Params.backgroundEffects }}
    <body class="{{ if .Site.Params.backgroundImage }} bg" style="background-image: url('{{ $bgImage.Permalink }}'); background-repeat: repeat; background-size: auto;" {{ else }}"{{ end }}>
    {{ else }}
    <body class="{{ if .Site.Params.backgroundImage }} background-image" style="background-image: url('{{ $bgImage.Permalink }}');" {{ else }}"{{ end }}>
    {{ end }}
{{ end }}

{{ define "main" }}
    <main role="main" class="terminal">
        <div class="terminal-line">
            <span class="terminal-prompt">root@kmcd.dev:~$</span> <span class="terminal-command">whoami</span>
        </div>
        <div class="terminal-output">
            {{ .Site.Params.author.name }}<br>
            {{ .Site.Params.homeSubtitle }}
        </div>

        <div class="terminal-line">
            <span class="terminal-prompt">root@kmcd.dev:~$</span> <span class="terminal-command">cat /etc/motd</span>
        </div>
        <div class="terminal-output">
            {{ .Content }}
        </div>

        {{ if .Site.Data.projects }}
        <div class="terminal-line">
            <span class="terminal-prompt">root@kmcd.dev:~$</span> <span class="terminal-command">ls -l projects/</span>
        </div>
        <div class="terminal-output">
            <ul class="project-list">
            {{ range .Site.Data.projects }}
                <li><a href="{{ .url }}">{{ .name }}</a>: {{ .description }}</li>
            {{ end }}
            </ul>
        </div>
        {{ end }}

        {{ $pages := where .Site.RegularPages "Type" "in" .Site.Params.mainSections }}
        {{ $notHidden := where $pages ".Params.hidden" "ne" true }}
        {{ $featured := where $notHidden ".Params.featured" true | first 3 }}

        {{ if $featured }}
        <div class="terminal-line">
            <span class="terminal-prompt">root@kmcd.dev:~$</span> <span class="terminal-command">cat featured_posts.log</span>
        </div>
        <div class="terminal-output">
            <ul class="post-list">
            {{ range $featured }}
                <li>
                    <a href="{{ .Permalink }}">{{ .Title }}</a>
                    <small>{{ .Date.Format "2006-01-02" }}</small>
                </li>
            {{ end }}
            </ul>
        </div>
        {{ end }}

        {{ $latest := $notHidden | first 5 }}
        {{ if $latest }}
        <div class="terminal-line">
            <span class="terminal-prompt">root@kmcd.dev:~$</span> <span class="terminal-command">tail -n 5 /var/log/posts.log</span>
        </div>
        <div class="terminal-output">
            <ul class="post-list">
            {{ range $latest }}
                 <li>
                    <a href="{{ .Permalink }}">{{ .Title }}</a>
                    <small>{{ .Date.Format "2006-01-02" }}</small>
                </li>
            {{ end }}
            </ul>
            <p><a href="/posts/">... view all posts</a></p>
        </div>
        {{ end }}

    </main>
{{ end }}