{{ define "main" }}
  {{ partial "load-mastodon.html" . }}
  <main class="post">
    <h1 class="post-title">
      Daily Prompt: {{ dateFormat "2006-01-02" .Date.Local }}
    </h1>
    {{ with .Params.Description }}
      <div class="post-excerpt">{{ . }}</div>
    {{ end }}

    <div class="main-wrapper">
    <div class="main-box">
    <article>
      <div class="post-content">
        <h2>{{ .Title }}</h2>
        {{ with .Page.Store.Get "toot" }}
        <div class="button small mastodon previous">
          <a href="{{ .status.url }}" target="_blank">
            <span class="button__icon"><i class="fa-brands fa-mastodon"></i></span>
            <span class="button__text">Discuss on Mastodon</span>
          </a>
        </div>
        {{ end }}
      </div>
      </div>
      </div>
    </article>
    {{- with .Page.Store.Get "toot" -}}
    <h2>Replies{{ with .replies }}<small>({{ len . }})</small>{{ end }}</h2>
    {{ with .replies}}
      {{- range . }}
        {{ partial "little-toot.html" .status }}
      {{- end -}}
    {{ end }}

  {{- end -}}

    {{ partial "pagination-single.html" . }}
  </main>

{{ end }}
