{{ define "main" }}
  <main class="post">
    <h1 class="post-title">
      Daily Prompt: {{ dateFormat "2006-01-02" .Date.Local }}
    </h1>
    {{ with .Params.Description }}
      <div class="post-excerpt">{{ . }}</div>
    {{ end }}

    <div class="main-wrapper">
    <div class="main-box">
    {{ $toot := slice }}
    {{- if .Params.mastodonID -}}
      {{- with .Site.GetPage (printf "/updates/imported/%s.html" .Params.mastodonID) }}
        {{- $toot = .Params -}}
      {{- end -}}
    {{- else -}}
      {{ $post := . }}
      {{ range (sort .Site.RegularPages ".Params.date" "asc") }}
      {{ if and (eq .Type "updates") (strings.Contains .Content $post.Title )}}
        {{ $toot = .Params }}
      {{ end }}
      {{ end }}
    {{- end -}}


    <article>
      {{- with $toot -}}
        {{ partial "toot.html" . }}
      {{- else -}}
      <div class="post-content">
        <h2>{{ .Title }}</h2>
      </div>
      </div>
      </div>
      {{- end -}}
    </article>
    {{ partial "pagination-single.html" . }}
  </main>

{{ end }}
