{{- $posts := where site.RegularPages "Type" "posts" -}}
{{- $scratch := newScratch -}}
{{- $longCount := 0 -}}
{{- $longestPost := false -}}
{{- $wordCount := 0 -}}
{{- range $posts -}}
    {{- $wordCount = math.Add $wordCount .WordCount -}}
    {{- if ge .WordCount $longCount -}}
        {{- $longestPost = . -}}
        {{- $longCount = .WordCount -}}
    {{- end -}}
{{- end -}}
{{- $postCount := len ($posts) -}}
{{- $avgPostLength := div $wordCount $postCount -}}

This website. I try to post here weekly. My current strategy is making backlog of posts waiting to be published. If you want an early peek at what I'm working on these queued up posts can be found on the <a href="https://github.com/sudorandom/sudorandom.dev/tree/main/content/posts" target="_blank">github repo</a>. I've written <code>{{ $postCount | lang.NumFmt 0 }}</code> posts containing <code>{{ $wordCount | lang.NumFmt 0 }}</code> words. I have an average of <code>{{ $avgPostLength | lang.NumFmt 0 }}</code> words per post. {{ range last 1 $posts }}It started with <a href="{{ .Permalink }}">{{ .Title }}</a> published on <code>{{ .Date.Format "2006-01-02" }}</code>.{{end}} {{ with $longestPost }}The longest post was <a href="{{ .Permalink }}">{{ .Title }}</a> with <code>{{ .WordCount | lang.NumFmt 0 }}</code> words.{{ end }}
