<figure{{ with .Get "class" }} class="md__image {{ . }}"{{ end }}>
    {{- if .Get "link" -}}
        <a href="{{ .Page.Permalink }}{{ .Get "link" }}"
            {{ with .Get "target" }} target="{{ . }}"{{ end }}
            {{ with .Get "rel" }} rel="{{ . }}"{{ end }}
            {{- with .Get "description" }} data-description="{{ . }}"{{ end -}}
            {{- with .Get "button" }} data-button="{{ . }}"{{ end -}}
            {{- with .Get "button-href" }} data-button-href="{{ . }}"{{ end -}}
            class="spotlight"
            data-preload="true"
            data-download="true"
            data-progress="true"
            data-infinite="true"
            data-spinner="true"
            data-autofit="true"
            data-fit="cover">
    {{- else -}}
        <a href="{{ .Page.Permalink }}{{ .Get "src" }}"{{ with .Get "target" }} target="{{ . }}"{{ end }}{{ with .Get "rel" }} rel="{{ . }}"{{ end }} class="spotlight" data-download="true">
    {{- end -}}

    {{ $image := ($.Page.Resources.GetMatch (.Get "src")).Fit (or (.Get "fit") "2000x1600 webp") }}
    <img src="{{ $image.Permalink }}"
         {{- if or (.Get "alt") (.Get "caption") }}
         alt="{{ with .Get "alt" }}{{ . }}{{ else }}{{ .Get "caption" | markdownify| plainify }}{{ end }}"
         {{- end -}}
         {{- with .Get "width" }} width="{{ . }}"{{ end -}}
         {{- with .Get "height" }} height="{{ . }}"{{ end -}}
         {{- with .Get "loading" }} loading="{{ . }}"{{ end -}}
    /><!-- Closing img tag -->
    </a>
    {{- if or (or (.Get "title") (.Get "caption")) (.Get "attr") -}}
        <figcaption>
            {{ with (.Get "title") -}}
                <h4>{{ . }}</h4>
            {{- end -}}
            {{- if or (.Get "caption") (.Get "attr") -}}<p>
                {{- .Get "caption" | markdownify -}}
                {{- with .Get "attrlink" }}
                    <a href="{{ . }}">
                {{- end -}}
                {{- .Get "attr" | markdownify -}}
                {{- if .Get "attrlink" }}</a>{{ end }}</p>
            {{- end }}
        </figcaption>
    {{- end }}
</figure>
