
<div class="links-wrapper">
{{- range $.Site.Data.links.body.outline -}}
<div class="links-box">
    <h2>{{ index . "-text"}}</h2>
    <ul>
    {{- range .outline -}}
        <li><a href="{{ index . "-htmlUrl" }}" target="_blank">{{ index . "-title"}}</a> &nbsp; <a href="{{ index . "-xmlUrl"}}" target="_blank" class="icon fa-solid fa-rss"></a></li>
    {{- end -}}
    </ul>
</div>
{{- end -}}

<div class="links-box">
    <h2>Blog-related</h2>
    <ul>
        <li><a href="https://blogroll.org/" target="_blank">Ye Olde Blogroll</a></li>
        <li><a href="https://rss-is-dead.lol/" target="_blank">RSS is dead lol</a></li>
    </ul>
</div>
</div>
