on:
  push:
    branches:
      - main
  schedule:
    - cron: "42 */3 * * *"

jobs:
  deploy:
    runs-on: ubuntu-latest
    name: Deploy
    permissions:
      contents: read
      deployments: write
    steps:
      - uses: actions/checkout@v4
      - name: Setup environment
        uses: jdx/mise-action@v2
        with:
          experimental: true
      - name: Install Playwright driver
        run: npx playwright install --with-deps
      - name: Build
        run: just build
      - name: deploy
        uses: cloudflare/wrangler-action@v3
        with:
          apiToken: ${{ secrets.CLOUDFLARE_API_TOKEN }}
          accountId: ${{ secrets.CLOUDFLARE_ACCOUNT_ID }}
          command: pages deploy --project-name=kmcd-dev ./live
      - name: Build
        run: just build-future
      - name: deploy
        uses: cloudflare/wrangler-action@v3
        with:
          apiToken: ${{ secrets.CLOUDFLARE_API_TOKEN }}
          accountId: ${{ secrets.CLOUDFLARE_ACCOUNT_ID }}
          command: pages deploy --project-name=kmcd-dev-future ./future
